body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.jumbotron {
    margin: 60px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 36px;
    line-height: 1;
}

.jumbotron p.lead {
    font-size: 16px;
    line-height: 21px;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.marketing ul.alert {
    margin: 0;
}

#search-box{
    margin-bottom: 20px;
}
.action-td{
    width:90px;
}
.btn-edit{
    margin-left: 5px;
}
.btn-del{
    margin-left: 5px;
}
